<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>-->
    <!--<title>listanakyma</title>-->
    <!--&lt;!&ndash;<link rel='stylesheet' href='/stylesheets/style.css' />&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<h1>Lista koodista</h1>-->
<!--<h2 onclick="piilotaeka()">Hae kaikki koodinpätkät</h2>-->
<!--<button style="display: none" id="eka" onclick="haeTiedot()">Hae kaikki</button>-->

<!--&lt;!&ndash;<h2 onclick="piilotatoka()">Hae kaupunginosalla</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<form id="toka" style="display: none">&ndash;&gt;-->
    <!--&lt;!&ndash;Kaupunginosa: <input id="kaupunginosa" type="text"/><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input value="Hae" type="button" id="btn" onclick="haeNimella(document.getElementById('kaupunginosa').value);">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--&lt;!&ndash;<h2 onclick="piilotakolmas()">Hae ravintolan tyylillä</h2>&ndash;&gt;-->
<!--&lt;!&ndash;<form id="kolmas" style="display: none">&ndash;&gt;-->
    <!--&lt;!&ndash;Cuisine: <input id="cuisine" type="text"/><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input value="Hae" type="button" id="btn1" onclick="haeTyylilla(document.getElementById('cuisine').value);">&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->

<!--<div id="tulos"></div>-->
<!--<script src="../routes/lista.js"></script>-->
<!--<script>-->
    <!--function piilotatoka() {-->
        <!--var x = document.getElementById("toka");-->
        <!--if (x.style.display === "block") {-->
            <!--x.style.display = "none";-->
        <!--} else {-->
            <!--x.style.display = "block";-->
        <!--}-->
    <!--}-->
    <!--function piilotaeka() {-->
        <!--var x = document.getElementById("eka");-->
        <!--if (x.style.display === "block") {-->
            <!--x.style.display = "none";-->
        <!--} else {-->
            <!--x.style.display = "block";-->
        <!--}-->
    <!--}-->
    <!--function piilotakolmas() {-->
        <!--var x = document.getElementById("kolmas");-->
        <!--if (x.style.display === "block") {-->
            <!--x.style.display = "none";-->
        <!--} else {-->
            <!--x.style.display = "block";-->
        <!--}-->
    <!--}-->
    <!--function piilotaneljas() {-->
        <!--var x = document.getElementById("neljas");-->
        <!--if (x.style.display === "block") {-->
            <!--x.style.display = "none";-->
        <!--} else {-->
            <!--x.style.display = "block";-->
        <!--}-->
    <!--}-->
    <!--function piilotaviides() {-->
        <!--var x = document.getElementById("viides");-->
        <!--if (x.style.display === "block") {-->
            <!--x.style.display = "none";-->
        <!--} else {-->
            <!--x.style.display = "block";-->
        <!--}-->
    <!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->