<h1><%= title %></h1>
<div class="topnav">
    <a href="/">Introduction</a>
    <a href="/users">Browse Code Snippets</a>
    <a onclick="stopIrresponsiAdd()" style="cursor: pointer">Add Code Snippet</a>
    <a href="/login">Login/Logout</a>
</div>

