<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script>$(document).ready(function () {
            userNameFROMLocalStorageToCommentAuthor()
        });

    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=zronyakzfk8m0obf9glt6t1bz0gsu2jcc2woyfw77jmdbfwc"></script>
    <script>
        tinymce.init({
            selector: '#codeid',
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: "codesample",
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            toolbar: "codesample",
        });
    </script>
</head>
<body>
<div id="container">
<header>
    <% include partials/header %>
</header>
<h2>Add Code Snippet</h2>
<form action="/users/data" method="POST">
    <div>
        <label for="titleid">Title</label>
        <input type="text" placeholder="e.g. HelloWorld" name="title" id="titleid"/>
    </div>
    <div>
        <label for="descriptid">Description</label>
        <input type="text" placeholder="e.g. This code does it all." name="descript" id="descriptid"/>
    </div>
    <div>
        <label for="langid">Programming language</label>
        <select type="text" name="lang" id="langid"></select>
    </div>
    <div>
        <label for="codeid">Code</label>
        <textarea placeholder="e.g. System.out.print('Hello World!');" name="code" id="codeid"></textarea>
    </div>
    <div>
        <label for="authorid">Author</label>
        <input type="text" name="author" id="authorid" readonly/>
    </div>
    <div>
        <label for="helptagsid">Tags</label>
        <input onchange="addTagToArray(this.value)" type="text" placeholder="e.g. POST" name="helptags" id="helptagsid"/>
        <div class="submitbutton">ADD TAG</div>
        <table id="helptagstableid"></table>
    </div>
    <div>
        <input type="hidden" name="tags" id="tagsid"/>
    </div>
    <div>
        <button class="submitbutton" type="submit">SUBMIT</button>
    </div>
</form>
<footer>
    <% include partials/footer %>
</footer>
<script>initLangSelectAdd();</script>
</div>
</body>
</html>