<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <% include partials/header %>
</header>
<h2>Changes have been made, hope you gonna like them!</h2>
<a href="/users">Return to home</a>
<footer>
    <% include partials/footer %>
</footer>
</body>
</html>