<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <% include partials/header %>
</header>
<h2>Poisto onnistui!</h2>
<a href="/users">Palaa hakusivulle</a>

</body>
</html>