<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>
<body>
<header>
    <% include partials/header %>
</header>
<h2>Poisto onnistui!</h2>
<a href="/users">Palaa hakusivulle</a>
<footer>
    <% include partials/footer %>
</footer>
</body>
</html>