<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to trololollooooo</p>
<% for(var i = 0; i < data.length; ++i) { %>
<tr class="quote">
    <th><%= data[i].title %></th>
    <th>|</th>
    <th><%= data[i].descript %></th>
</tr>
<% } %>
</body>
</html>
