<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script>
        $(document).ready(function () {
            $(".hideform").hide();
            $('h3').click(function () {
                var $tamah2 = $(this).next('form');
                $tamah2.toggle("slow", "swing");
            });
        });
    </script>
</head>
<body>
<div id="container">
<header>
    <% include partials/header %>
</header>
<h2>Login/Logout</h2>
<div id="signupid">
    <h3 class="opentoggle">Sign up for the first time</h3>
    <form class="hideform" action="/users/signup" method="POST">
        <div>
            <label for="signupnameid">Name</label>
            <input type="text" name="name" id="signupnameid"/>
        </div>
        <div>
            <label for="signuppasswordid">Password</label>
            <input type="password" name="password" id="signuppasswordid"/>
        </div>
        <div>
            <button class="submitbutton" type="submit" onclick="userNameToLocalStorageUp()">SIGN UP</button>
        </div>
    </form>
</div>
<div id="signinid">
    <h3 class="opentoggle">Already a user? Sign in!</h3>
    <form class="hideform" action="/users/signin" method="POST">
        <div>
            <label for="signinnameid">Name</label>
            <input type="text" name="name" id="signinnameid"/>
        </div>
        <div>
            <label for="signinpasswordid">Password</label>
            <input type="password" name="password" id="signinpasswordid"/>
        </div>
        <div>
            <button class="submitbutton" type="submit" onclick="userNameToLocalStorageIn()">SIGN IN</button>
        </div>
    </form>
</div>
<div id="showUser" onchange="showUser()">
<script >
    $('<h3>Logged in as ' + localStorage.getItem('username').toString() + '</h3>').appendTo('#showUser');
</script>
</div>
<div id="loggedInId">
    <button class="submitbutton" type="button" onclick="logout()">LOGOUT</button>
</div>
<footer>
    <% include partials/footer %>
</footer>
</div>
</body>
</html>