<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>$(function () {
        var ur = window.location.pathname.substring(6);
        console.log(ur);
            var id = window.location.pathname.substring(6);
            if (id != null) {
                let uri = '/users/' + id;
                console.log(uri);
                $.getJSON(uri, function (data) {
                    $("#readtitleid").text(data.title);
                    $("#readdescriptid").text(data.descript);
                    $("#readlangid").text(data.lang);
                    $("#readcodeid").text(data.code);
                    $("#readauthorid").text(data.author);
                    $("#readtagsid").text(data.tags);
                    $("#readsocreid").text(data.score);
                    $("#readdateid").text(data.date);
                    console.log(data);
                });
                // localStorage.removeItem("id");
            }
        })</script>

    <script>$(function () {
            var id = JSON.parse(localStorage.getItem("id"));
            if (id != null) {
                let uri = '/users/' + id;
                console.log(uri);
                $.getJSON(uri, function (data) {
                    $("#readscoreid").val(data.score);
                    console.log(data);
                    var info = data._id;
                    url = "/users/score/" + info;
                    $("#formid").attr('action',url);
                    console.log("Formin action: " + $("#formid").attr('action'));
                });
            }})
    </script>




    <pre class="language-markup"><code>...</code></pre>
    <script>
        tinymce.init({
            selector: '#readcodeid',
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: ["code", "codesample"],
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            toolbar: "codesample",
        });
    </script>
</head>
<body>
<header>
    <% include partials/header %>
</header>
<p>Read Page</p>
<table id="readtable">
    <tr>
        <td class="readtableleft">Title:</td>
        <td class="readtableright"><h2 id="readtitleid"></h2></td>
    </tr>
    <tr>
        <td class="readtableleft">Description:</td>
        <td class="readtableright"><p id="readdescriptid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Language:</td>
        <td class="readtableright"><p id="readlangid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Author:</td>
        <td class="readtableright"><p id="readauthorid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Score:</td>
        <td class="readtableright"><p id="readscoreid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Code:</td>
        <td class="readtableright"><p id="readcodeid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Tags:</td>
        <td class="readtableright"><p id="readtagsid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Date:</td>
        <td class="readtableright"><p id="readdateid"></p></td>
    </tr>
</table>
<form  method="POST" id="formid">
    <button type="submit">Vote</button>
</form>
<footer>
    <% include partials/footer %>
</footer>
</body>
</html>
