<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script>$(function () {
            var ur = window.location.pathname.substring(6);
            var id = window.location.pathname.substring(6);
            if (id != null) {
                let uri = '/users/' + id;
                $.getJSON(uri, function (data) {

                    let deitti = data.date.toString().substring(0,10)
                    let timefromdate = data.date.toString().substring(11,19)

                    $("#readtitleid").text(data.title);
                    $("#readdescriptid").text(data.descript);
                    $("#readlangid").text(data.lang);
                    $("#readcodeid").text(data.code);
                    $("#readauthorid").text(data.author);
                    $("#readtagsid").text(data.tags.toString().split(",").join(", "));
                    $("#readscoreid").text(data.score);
                    $("#readdateid").text(deitti + " " + timefromdate);


                    //Comments part starts form here
                    $("#dataidforcomment").val(data._id);

                });

                // localStorage.removeItem("id");
            }
            let curi = '/users/comment/' + id;
            console.log("Curi on : " + curi)
            $.getJSON(curi, function (data) {
                console.log(data);


                for (var i = 0; i < data.length; i++) {
                    console.log(data[i].comment);
                    let deitti = data[i].date.toString().substring(0,10)
                    let timefromdate = data[i].date.toString().substring(11,19)

                    $("<tr><td>" + data[i].comment + "</td><td>" + deitti + " " + timefromdate + "</td><td>" + data[i].authorname + "</td></tr>").addClass("com_td").appendTo("#commentable");
                }

            });
        })</script>

    <script>$(document).ready(function () {
            userNameFROMLocalStorageToCommentAuthor()
        });
    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=zronyakzfk8m0obf9glt6t1bz0gsu2jcc2woyfw77jmdbfwc"></script>
    <script>
        tinymce.init({
            selector: '#readcodeid',
            theme: 'modern',
            width: 600,
            height: 300,
            plugins: "codesample",
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            readonly: true,
        });
    </script>

    <script>$(function () {
            var id = JSON.parse(localStorage.getItem("id"));
            if (id != null) {
                let uri = '/users/' + id;
                $.getJSON(uri, function (data) {
                    $("#readscoreid").val(data.score);
                    var info = data._id;
                    url = "/users/voteup/" + info;
                    $("#voteup").attr('action', url);
                });
            }
        })
    </script>

    <script>$(function () {
            var id = JSON.parse(localStorage.getItem("id"));
            if (id != null) {
                let uri = '/users/' + id;
                $.getJSON(uri, function (data) {
                    $("#readscoreid").val(data.score);
                    var info = data._id;
                    url = "/users/votedown/" + info;
                    $("#votedown").attr('action', url);
                });
            }
        })
    </script>

</head>
<body>
<div id="container">
<header>
    <% include partials/header %>
</header>
<h2>Read Code Snippet</h2>
<table id="readtable">
    <tr>
        <td class="readtableleft">Title:</td>
        <td class="readtableright"><h3 id="readtitleid"></h3></td>
    </tr>
    <tr>
        <td class="readtableleft">Description:</td>
        <td class="readtableright"><p id="readdescriptid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Language:</td>
        <td class="readtableright"><p id="readlangid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Author:</td>
        <td class="readtableright"><p id="readauthorid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Score:</td>
        <td class="readtableright"><p id="readscoreid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Code:</td>
        <td class="readtableright"><textarea id="readcodeid"></textarea></td>
    </tr>
    <tr>
        <td class="readtableleft">Tags:</td>
        <td class="readtableright"><p id="readtagsid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Date:</td>
        <td class="readtableright"><p id="readdateid"></p></td>
    </tr>
</table>
<div>
<form class="inline" id="voteup" method="POST"><button class="whitebutton" id= "vup" type="submit"><img src="/images/thumbs-up.png"></button></form>
<form class="inline" id="votedown" method="POST"><button class="whitebutton" id= "vdown" type="submit"><img src="/images/thumb-down.png"></button></form>
</div>
<!--id="formid"-->
<!--class="readtableright"-->
<table id="commentable">
    <tr class="commenttr" id="commenttrid">
        <td class=""><h3>Comment</h3></td>
        <td class=""><h3>Date</h3></td>
        <td class=""><h3>Author</h3></td>
    </tr>
</table>
<form action="/users/comment" method="POST">
    <div>
        <label for="commentid">Comment Code</label><br>
        <input type="hidden" name="dataId" id="dataidforcomment"/>
        <textarea type="text" placeholder="e.g. Cheer's mate, really liked your code" name="comment"
                  id="commentid"></textarea><br>
        <label for="authorid">Author</label>
        <input type="text" name="authorname" id="authorid" readonly/>

        <button class="submitbutton" type="submit">SUBMIT</button>
    </div>

</form>
<footer>
    <% include partials/footer %>
</footer>
</body>
</div>
</html>