<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/add.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>$(function () {
            var id = JSON.parse(localStorage.getItem("id"));
            if (id != null) {
                let uri = '/users/' + id;
                console.log(uri);
                $.getJSON(uri, function (data) {
                    $("#readtitleid").text(data.title);
                    $("#readdescriptid").text(data.descript);
                    $("#readlangid").text(data.lang);
                    $("#readcodeid").text(data.code);
                    $("#readauthorid").text(data.author);
                    $("#readtagsid").text(data.tags);
                    $("#readdateid").text(data.date);
                    console.log(data);
                });
                // localStorage.removeItem("id");
            }
        })</script>
</head>
<body>
<h1><%= title %></h1>
<p>Read Page</p>
<table id="readtable">
    <tr><th class="readtableleft">Title:</th><th class="readtableright"><h2 id="readtitleid"></h2></th></tr>
    <tr><th class="readtableleft">Description:</th><th class="readtableright"><p id="readdescriptid"></p></th></tr>
    <tr><th class="readtableleft">Language:</th><th class="readtableright"><p id="readlangid"></p></th></tr>
    <tr><th class="readtableleft">Author:</th><th class="readtableright"><p id="readauthorid"></p></th></tr>
    <tr><th class="readtableleft">Code:</th><th class="readtableright"><p id="readcodeid"></p></th></tr>
    <tr><th class="readtableleft">Tags:</th><th class="readtableright"><p id="readtagsid"></p></th></tr>
    <tr><th class="readtableleft">Date:</th><th class="readtableright"><p id="readdateid"></p></th></tr>
</table>
</body>
</html>
