<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
    <script>$(function () {
            var ur = window.location.pathname.substring(6);
            console.log(ur);
            var id = window.location.pathname.substring(6);
            if (id != null) {
                let uri = '/users/' + id;
                $.getJSON(uri, function (data) {
                    $("#readtitleid").text(data.title);
                    $("#readdescriptid").text(data.descript);
                    $("#readlangid").text(data.lang);
                    $("#readcodeid").text(data.code);
                    $("#readauthorid").text(data.author);
                    $("#readtagsid").text(data.tags);
                    $("#readsocreid").text(data.score);
                    $("#readdateid").text(data.date);

                    //Comments part starts form here
                    $("#dataidforcomment").val(data._id);

                });

                // localStorage.removeItem("id");
            }
            let curi = '/users/comment/' + id;
            console.log("Curi on : " + curi)
            $.getJSON(curi, function (data) {
                console.log(data);


                for(var i = 0; i < data.length; i++){
                    console.log(data[i].comment);

                    $("<tr><td>"+data[i].comment+"</td><td>"+data[i].date+"</td><td>"+data[i].authorname+"</td></tr>").addClass("com_td").appendTo("#commentable");
                }

            });
        })</script>

    <script>$(document).ready(function () {
            userNameFROMLocalStorageToCommentAuthor()
        });

    </script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=zronyakzfk8m0obf9glt6t1bz0gsu2jcc2woyfw77jmdbfwc"></script>

    <script>
        tinymce.init({
            selector: '#readcodeid',
            theme: 'modern',
            width: 800,
            height: 300,
            plugins: "codesample",
            codesample_languages: [
                {text: 'HTML/XML', value: 'markup'},
                {text: 'JavaScript', value: 'javascript'},
                {text: 'CSS', value: 'css'},
                {text: 'PHP', value: 'php'},
                {text: 'Ruby', value: 'ruby'},
                {text: 'Python', value: 'python'},
                {text: 'Java', value: 'java'},
                {text: 'C', value: 'c'},
                {text: 'C#', value: 'csharp'},
                {text: 'C++', value: 'cpp'}
            ],
            readonly: true,
        });
    </script>

</head>
<body>
<header>
    <% include partials/header %>
</header>
<p>Read Page</p>
<table id="readtable">
    <tr>
        <td class="readtableleft">Title:</td>
        <td class="readtableright"><h2 id="readtitleid"></h2></td>
    </tr>
    <tr>
        <td class="readtableleft">Description:</td>
        <td class="readtableright"><p id="readdescriptid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Language:</td>
        <td class="readtableright"><p id="readlangid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Author:</td>
        <td class="readtableright"><p id="readauthorid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Score:</td>
        <td class="readtableright"><p id="readscoreid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Code:</td>
        <td class="readtableright"><textarea id="readcodeid"></textarea></td>
    </tr>
    <tr>
        <td class="readtableleft">Tags:</td>
        <td class="readtableright"><p id="readtagsid"></p></td>
    </tr>
    <tr>
        <td class="readtableleft">Date:</td>
        <td class="readtableright"><p id="readdateid"></p></td>
    </tr>
</table>

<form  method="POST" id="formid">
    <button type="submit">Vote</button>
</form>
<!--id="formid"-->
<!--class="readtableright"-->

<table id="commentable">
    <tr class="commenttr" id="commenttrid" >
        <td class=""><h3>Comment</h3></td><td class=""><h3>Date</h3></td><td class=""><h3>Author</h3></td>
    </tr>
</table>
<form action="/users/comment" method="POST">
    <div>
        <label for="commentid">Comment Code</label><br>
        <input type="hidden" name="dataId" id="dataidforcomment"/>
        <label for="authorid">Author</label>
        <input type="text" name="authorname" id="authorid" readonly/>
        <textarea type="text" placeholder="e.g. Cheer's mate, really liked your code" name="comment"
                  id="commentid"></textarea><br>
        <button type="submit">SUBMIT</button>
    </div>

</form>
<footer>
    <% include partials/footer %>
</footer>
</body>
</html>
