* {
  /*border: dotted blue 1px;*/
  margin: 5px;
  padding: 5px;
  font-family: Arial;
}

textarea {
  width: 600px;
  height: 200px;
}

label {
  text-align: right;
  display: inline-block;
  width: 100px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #006DF0;
}

a, img {
  margin: 0;
  padding: 0;
  border: none;
}

tr:nth-child(even) {
  /*background-color: #a9b7c6;*/
}

table * {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: #cc7832;
}

.sortbutton {
  background-color: white;
}

#readtable * {
  background-color: white;
  border: none;
}

.readtableleft {
  text-align: right;
}


.readtableright {
  text-align: left;
}

/*navbaariin*/

.topnav {
  overflow: hidden;
  background-color: #2b2b2b;
  margin: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e8bf6a;
  color: black;
}

#footerid p {
  text-align: right;
  color: white;
}

#helptagstableid * {
  padding: 1px;
  margin-top: 0px;
  /*border: none;*/
}

.submitbutton {
  background-color: #6a8759;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*.submitbutton:hover {*/
  /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
/*}*/

h1 {
  font-family: 'Rubik Mono One';
  font-size: 50px;
  color: #2b2b2b;
}

h2 {
  font-family: 'Rubik Mono One';
  font-size: 20px;
  color: #2b2b2b;
}
/*#e8bf6a*/
.opentoggle {
  background-color:  #cc7832;
  margin: 0;
}

.whitebutton {
  background-color: white;
  border: none;
}

input[type=text], select, #tagsearch, #authorSearch {
  /*background-color: #e8bf6a;*/
  border: 1px solid #ccc;
}

.inline {
  display: inline;
}

.hovertable:hover {
  background-color: #e8bf6a;
}

#container {
  position: sticky;
  width: 800px;
  margin: auto;
  max-width: 100%;
  padding: 0;
}